variables:
    IMAGE_NAME: mahsam1/demo-app
    IMAGE_TAG: 1.1

stages:
    - cache 
    - test
    - build

create_cache:
  image: node:18-bullseye
  stage: cache
  script:
    - yarn install
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules/
      - yarn.lock
      - .yarn
    policy: pull-push      

yarn-test: 
    image: node:18-bullseye
    stage: test
    script:
        - yarn install
        - yarn test

    cache:
      key:
        files:
          - yarn.lock
      paths:
        - node_modules/
        - yarn.lock
        - .yarn
      policy: pull-push   

gitleaks:
  stage: test
  image: 
    name: zricethezav/gitleaks
    entrypoint: [""]
  script:
   - gitleaks detect --verbose --source .  



build_image:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_PASS: "iS$nj!FpnRPP2iCT"
    DOCKER_USER: "mahsam1"
  before_script:
    - echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
  script:
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG
            