variables:
  IMAGE_NAME: belliotnick/juice-shop-project:juice-shop
  IMAGE_TAG: juice-shop-1.0
stages:
    - test
    - build
yarn_test:

    image: Node.js 20 
    stage: test
    script:
        - yarn install
        - yarn test
build_image:
    stage: build
    image: docker:24
    services:
        - docker:24-dind
    variables:
      DOCKER_PASS: LakeCharles33$$
      DOCKER_USER: belliotnick

    before_script:
        - echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
    script:
        - docker build -t $IMAGE_NAME:IMAGE_TAG .
        - docker push $IMAGE_NAME:IMAGE_TAG
