
# variables:
#  IMAGE_NAME: obasoro/demo
#  IMAGE_TAG: juice-shop:1.1

# stages:
#   - cache
#   - test
#   - build
# create_cache:
#   image: node:18-bullseye
#   stage: cache
#   script:
#     - yarn install
#   cache:
#     key:
#       files:
#         - yarn lock
#     paths:
#       - node_modules/
#       - yarn.lock
#       - .yarn
#     policy: pull-push
    

# yarn_test:
#   image: node:18-bullseye
#   stage: test
#   script:
#     - yarn install
#     - yarn test
# build_image:
#   stage: build
#   image: docker:24
#   services:
#     - docker:24-dind
#   variables:
#     DOCKER_PASS: toyinobasoro
#     DOCKER_USER: obasoro
#   # before_script:
#   #   - echo $DOCKER_PASS | docker login -u $DOCKER_PASS --password-stdin
#   script: 
#     - docker login --username=$DOCKER_USER --password=$DOCKER_PASS
#     - docker build -t $IMAGE_NAME:$IMAGE_TAG .
#     - docker push $IMAGE_NAME:$IMAGE_TAG

variables:
  IMAGE_NAME: obasoro/demo
  IMAGE_TAG: juice-shop:1.1

stages:
  - cache
  - test
  - build

create_cache:
  image: node:18-bullseye
  stage: cache
  script:
    - yarn install
  cache:
    key:
      files:
        - yarn.lock  # Fixed typo: was "yarn lock"
    paths:
      - node_modules/
      - yarn.lock
      - .yarn
    policy: pull-push

yarn_test:
  image: node:18-bullseye
  stage: test
  script:
    - yarn install
    - yarn test
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules/
      - yarn.lock
      - .yarn
    policy: pull  # Only pull from cache, don't push
  dependencies:
    - create_cache  # Ensure this job waits for cache creation

build_image:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_PASS: toyinobasoro
    DOCKER_USER: obasoro
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG