
variables:
 IMAGE_NAME: obasoro/demo
 IMAGE_TAG: juice-shop:1.1

stages:
  - test
  - build

yarn_test:
  image: node:18-bullseye
  stage: test
  script:
    - yarn install
    - yarn test
build_stage:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_PASS: toyinobasoro
    DOCKER_USER: obasoro
  before_script:
    - echo $DOCKER_PASS | docker login -u $DOCKER_PASS --password-stdin
  script: 
    - docker build t obasoro/demo-app:juice-shop.1.1 .
    - docker push obasoro/demo-app:juice-shop.1.1