variables:
  IMAGE_NAME: belliotnick/juice-shop-project
  IMAGE_TAG: juice-shop-1.0

stages:
    - cache
    - test
    - build

create_cache:
    image: node:18-bullseye
    stage: cache
    script:
        - yarn config set ignore-engines true
        - yarn install --frozen-lockfile
        - yarn test
    cache:
        key:
            files:
                - yarn.lock
        paths:
            - node_modules/
            - yarn.lock
            - .yarb
        policy: pull-push
        

yarn_test:
    image: node:18-bullseye
    stage: test
    script:
        - yarn config set ignore-engines true
        - yarn install --frozen-lockfile
        - yarn test
    cache:
        key:
            files:
                - yarn.lock
        paths:
            - node_modules/
            - yarn.lock
            - .yarb
        policy: pull

build_image:
    stage: build
    image: docker:24
    services:
        - docker:24-dind
    variables:
      DOCKER_PASS: $DOCKER_HUB_TOKEN
      DOCKER_USER: $DOCKER_HUB_USERNAME

    before_script:
        - echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
    script:
        - docker build -t $IMAGE_NAME:IMAGE_TAG .
        - docker push $IMAGE_NAME:IMAGE_TAG
