name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  IMAGE_NAME: devytk/demo-app
  IMAGE_TAG: juice-shack-1.1

jobs:
  create_cache:
    runs-on: ubuntu-latest
    container:
      image: node:20-bullseye
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            node_modules/
            yarn.lock
            .yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install

  yarn_test:
    runs-on: ubuntu-latest
    container:
      image: node:20-bullseye
    needs: create_cache
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Restore dependencies cache
        uses: actions/cache@v4
        with:
          path: |
            node_modules/
            yarn.lock
            .yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: yarn test

  build_image:
    runs-on: ubuntu-latest
    needs: yarn_test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
